#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

form > * {
  width: 30vw;
  max-width: 600px;
  min-width: 300px;
  box-sizing: border-box;
  font-size: 14pt;

  /* min-width: 300px; */

  outline: none;
}

form > input, form > select {
  padding: .6em;
  border-radius: 10px;

  border: 1px solid #Ddd;
}

.form-item-error {
  color: #A44;
}